<div class="main-div">
    <mat-card id="account-details">
        <mat-card-title id="account-form-card-title">Let's create your account!</mat-card-title>
        <form [formGroup]="accountForm" (ngSubmit)="submitClick">
            <mat-form-field appearance="outline" class="name-field">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter your first name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="name-field">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter your last name" formControlName="lastName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="pass-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="pass-field">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter a password(8-20 characters)" formControlName="newPass">
            </mat-form-field>
            <mat-form-field appearance="outline" class="pass-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Re-enter you password" formControlName="conPass" (change)="conPassChange($event)">
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit" id="create-account-button" (click)="submitClick()">Create Account</button>
        </form>
        <div class="validation-errors">
            <!--
            <p *ngIf="firstName?.dirty && firstName?.errors?.['required']">Please enter first name!</p>
            <p *ngIf="lastName?.dirty && lastName?.errors?.['required']">Please enter last name!</p>
            <p *ngIf="email?.dirty && email?.errors?.['email']">Please enter a valid email!</p>
            <p *ngIf="newPass?.dirty && newPass?.errors?.['required']">Please enter a valid password!</p>
            <p *ngIf="conPass?.dirty && conPass?.errors?.['required']">Passwords do not match!</p>
            -->
            <p>{{validationError}}</p>
        </div>
    </mat-card>
</div>