.main-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.note-card {
    background-color: white;
    width: 18%;
    aspect-ratio: 1/1.25;
    margin: 1%;
    padding: 0;
}

.note-card-header {
    padding: 20px;
}