@use '~@angular/material' as mat;

@import '/src/assets/theme.scss';

.main-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.note-card {
    background-color: white;
    aspect-ratio: 1/1.25;
    padding: 0;
}

.note-card:hover {
    box-shadow: 0 0 25px mat.get-color-from-palette($mat-shadow);
}

@media only screen and (max-width: 540px) {
    .note-card {
        width: 46%;
        margin: 2%
    }
}

@media only screen and (min-width: 540px) {
    .note-card {
        width: 29.3333%;
        margin: 2%
    }
}

@media only screen and (min-width: 720px) {
    .note-card {
        width: 18%;
        margin: 1%;
    }
}

.note-card-header {
    padding: 20px;
}