<mat-toolbar color="primary">
    <button *ngIf="this.dataStoreService.userLoggedIn" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="toolbar-header">Smart Notes</span>
    <span class="horizontal-spacer"></span>
    <button *ngIf="!this.dataStoreService.userLoggedIn" mat-flat-button color="accent" (click)="showLoginDialog()">Login</button>
    <button *ngIf="!this.dataStoreService.userLoggedIn" mat-flat-button color="accent" (click)="signupClick()">Signup</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #drawer mode="over" fixedInViewport="true" fixedTopGap="55" autoFocus="false">
        <h1>Projects</h1>
    </mat-sidenav>
    <mat-sidenav-content>
        <!--
        <app-notes-collection *ngIf="userLoggedIn"></app-notes-collection>
        <app-dashboard *ngIf="userLoggedIn" (titleEmitter)="setToolbarTitle($event)"></app-dashboard>
        <app-account-creation (titleEmitter)="setToolbarTitle($event)"></app-account-creation>
        <app-home-page *ngIf="!userLoggedIn"></app-home-page>
        -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>