@use '~@angular/material' as mat;

@import '/src/assets/theme.scss';

mat-toolbar {
    box-shadow: 0 0 10px mat.get-color-from-palette($mat-shadow, 500);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 5px;
}

mat-sidenav-container {
    width: 100%;
}

mat-sidenav {
    padding: 20px;
    height: 100%;
}

mat-sidenav-content {
    background-color: mat.get-color-from-palette($mat-background);
    width: 100%;
}

@media only screen and (max-width: 540px) {
    mat-sidenav {
        width: 80%;
    }
}

@media only screen and (min-width: 540px) {
    mat-sidenav {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    mat-sidenav {
        width: 20%;
    }
}

button {
    margin: 0px 5px 0px 5px;
}

.toolbar-header {
    margin: 0px 5px 0px 5px;
}