<mat-toolbar color="primary">
    <button *ngIf="loggedIn" mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="toolbar-header">{{toolbarTitle}}</span>
    <span class="horizontal-spacer"></span>
    <button *ngIf="!loggedIn" mat-flat-button color="accent" (click)="showLoginDialog()">Login</button>
    <button *ngIf="!loggedIn" mat-flat-button color="accent" (click)="showSignupDialog()">Signup</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #drawer mode="over" fixedInViewport="true" fixedTopGap="55" autoFocus="false">
        <h1>Projects</h1>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-notes-collection></app-notes-collection>
    </mat-sidenav-content>
</mat-sidenav-container>