<div class="main-div">
    <mat-card id="account-details">
        <mat-card-title id="account-form-card-title">Let's create your account!</mat-card-title>
        <mat-form-field appearance="outline" class="name-field">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your first name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="name-field">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your last name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="pass-field">
            <mat-label>Password</mat-label>
            <input matInput  type="password" placeholder="Enter a password(8-20 characters)">
        </mat-form-field>
        <mat-form-field appearance="outline" class="pass-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Re-enter you password">
        </mat-form-field>
    </mat-card>
</div>