<div class="main-div">
    <p class="mat-headline">Welcome back!</p>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" placeholder="Enter your registered email">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="pass" placeholder="Enter your password" type="password">
    </mat-form-field>
    <br>
    <p class="mat-small warn" color="warn" *ngIf="invalidInputWarn">Please enter a valid email and password!</p>
    <button mat-flat-button color="primary" (click)="loginClick()">Login</button>
    <button mat-flat-button color="accent" (click)="cancelClick()">Cancel</button>
</div>