@use '~@angular/material' as mat;

@import '/src/assets/theme.scss';

.main-div {
    height: 60vh;
    text-align: center;
}

@media only screen and (max-width: 540px) {
    .main-div {
        width: 80vw;
    }
}

@media only screen and (min-width: 540px) {
    .main-div {
        width: 50vw;
    }
}

@media only screen and (min-width: 1024px) {
    .main-div {
        width: 25vw;
    }
}