@use '~@angular/material' as mat;

@import '/src/assets/theme.scss';

mat-card {
    padding: 0;
}

mat-card-title {
    padding: 20px;
}

@media only screen and (max-width: 540px) {
    mat-card-title {
        text-align: center;
    }
}

.dash-cards {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.heading {
    margin: 20px;
}

@media only screen and (max-width: 540px) {
    .heading {
        text-align: center;
    }
}

@media only screen and (max-width: 540px) {
    .dash-card {
        margin: 2%;
        width: 98%;
        aspect-ratio: 1 / 0.8;
    }

    .stats-card {
        order: 1;
    }
    
    .recent-card {
        order: 2;
    }

    .active-card {
        order: 3;
    }
}

@media only screen and (min-width: 540px) {
    .dash-card {
        margin: 2%;
        width: 46%;
        aspect-ratio: 1 / 0.8;
    }
}

@media only screen and (min-width: 1024px) {
    .dash-card {
        margin: 1%;
        width: 31.33%;
        aspect-ratio: 1 / 1.35;
    }
}

#new-project-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}