@use '~@angular/material' as mat;
@include mat.core();

$mat-primary: mat.define-palette(mat.$green-palette, 700);
$mat-accent: mat.define-palette(mat.$green-palette, 200);
$mat-warn: mat.define-palette(mat.$red-palette, 400);
$mat-shadow: mat.define-palette(mat.$gray-palette, 50);
$mat-background: mat.define-palette(mat.$green-palette, 50);

$green-light: mat.define-light-theme((
    color: (
        primary: $mat-primary,
        accent: $mat-accent,
        warn: $mat-warn
    )
));

@include mat.all-component-themes($green-light);