@use '~@angular/material' as mat;
@include mat.core();

$mat-primary: mat.define-palette(mat.$green-palette, 700);
$mat-accent: mat.define-palette(mat.$green-palette, 200);
$mat-warn: mat.define-palette(mat.$red-palette, 400);
$mat-shadow: mat.define-palette(mat.$gray-palette, 50);
$mat-background: mat.define-palette(mat.$green-palette, 50);

$green-light: mat.define-light-theme((
    color: (
        primary: $mat-primary,
        accent: $mat-accent,
        warn: $mat-warn
    ),
    typography: mat.define-typography-config(
        $font-family: 'Urbanist',
        $title: mat.define-typography-level(
            $font-size: 1.75rem,
            $font-weight: 600
        ),
        $headline: mat.define-typography-level(
            $font-size: 1.5rem,
            $font-weight: 500
        ),
        $subheading-1: mat.define-typography-level(
            $font-size: 1.25rem,
            $font-weight: 400
        ),
        $body-1: mat.define-typography-level(
            $font-size: 1rem,
            $font-weight: 300
        ),
        $button: mat.define-typography-level(
            $font-size: 1rem,
            $font-weight: 500
        ),
        $caption: mat.define-typography-level(
            $font-size: 1rem,
            $font-weight: 300
        )
    )
));

@include mat.all-component-themes($green-light);