/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

@import '/src/assets/theme.scss';

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: mat.get-color-from-palette($mat-background);
}

.warn {
    color: mat.get-color-from-palette($mat-warn);
}

.horizontal-spacer {
    margin-left: auto;
    margin-right: auto;
}

.vertical-spacer {
    margin-top: auto;
    margin-bottom: auto;
}