.main-div {
    
}

.banner {
    width: 100%;
    display: flex;
    background-color: white;
}

.banner-title {
    margin: 20px;
    display: block;
}

.banner-subtitle {
    margin: 20px;
    display: block;
}

@media only screen and (max-width: 720px) {
    .banner {
        height: 40vh;
    }
}

@media only screen and (min-width: 720px) {
    .banner {
        height: 50vh;
    }
}